# Dependencies
node_modules/

# Env / secrets
.env
*serviceAccount*.json
firebase-key.json

# Firebase emulator
firebase-debug.log
database-debug.log
ui-debug.log
.firebase/

# OS / editor
.DS_Store
Thumbs.db
frontend/scripts/.tmp/
emu-out.log
emu-err.log
*-debug.log
backend-out.log
backend-err.log
